server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: utf-8
      enabled: true
      force: true

spring:
  jackson:
    property-naming-strategy: SNAKE_CASE

  application:
    name : itam-server-admin

  datasource:
    platform: mysql
    url: jdbc:mysql://localhost:3306/KBDS_ITAM?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 123456789
    driver-class-name: com.mysql.cj.jdbc.Driver # mysql 8버전


  jpa:
    hibernate:
      ddl-auto: update # create, update, none
      #naming:
        #entity만들때, 변수명 그대로 데이터베이스 필드에 넣어주겠다.
        #만약, org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy 전략을 사용하겠다고 하면,
        #entity에서 변수명을 myEmail 이라고 하면, DB에 myEmail이 아닌 my_email로 만들어짐.
        #physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      use-new-id-generator-mappings: false #jpa 기본 numbering 전략을 따라가지 않겠다.
    properties:
      hibernate:
        # show formatted sql
        show_sql: true
        format_sql: true
        use_sql_comments: true #querydsl jpql 보기
    # turn OSIV off
    open-in-view: false
    database: mysql
  servlet:
    multipart:
      max-request-size: 500MB
      max-file-size: 500MB
  security:
    user:
      name: test
      password: 1234
file:
  dir: /Users/minizi015/Desktop/images #다들 파일업로드 경로 설정해주세요,,!

#logging:
#  level:
#    org.hibernate.SQL: debug # 하이버네이트가 생성하는 SQL이 다보인다.
##    org.hibernate.type:  #binding parameter의 값이 무엇인지를 알려줌.
